*{
    margin: 0;
    padding: 0;
}
.container{
    margin: 50px auto;
    width: 40%;
    max-width: 1200px;
}
.row{
    display: grid;
    grid-template-columns: repeat(8, 1fr);

}
.row > div{
    height: 50px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.botones{
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    
}
input{
    padding: 5px;
    margin: 0 5px;
    border-color: blue;
}
input:hover{
    background-color: rgba(16, 0, 233, 0.5)
}


